<div class="container">
    <h1 class="events-header">Events</h1>

    <ul class="list-group">
        <% if (reminders.length === 0) { %>
            <h2> You don't have any events! </h2>
        <% } else { %>

            <% reminders.forEach(function (reminderItem) { %>
                <li class="list-group-item">
                    <img src=<%=reminderItem.image_url %> alt=
                    <%= reminderItem.title %> style="width:50px; height:50px;">
                    
                    <span>
                        <strong><%= reminderItem.title %>: </strong>
                        <%= reminderItem.description %>
                            || Date:
                            <%= reminderItem.date %>
                                || Tags: (<%= reminderItem.tags %>)
                                <a class="pull-right" href=<%="/reminder/" + reminderItem.id %>>View</a><br>
                                <% if (reminderItem.importance === '1') { %>
                                    <span class="imp-tag badge badge-secondary">Very Low Importance</span>
                                <% } else if (reminderItem.importance === '2') { %>
                                    <span class="imp-tag badge badge-success">Low Importance</span>
                                <% } else if (reminderItem.importance === '3') { %>
                                    <span class="imp-tag badge badge-primary">Moderate Importance</span>
                                <% } else if (reminderItem.importance === '4') { %>
                                    <span class="imp-tag badge badge-warning">High Importance</span>
                                <% } else if (reminderItem.importance === '5') { %>
                                    <span class="imp-tag badge badge-danger">Very High Importance</span>
                                <% } %>
                    </span>                       
                </li>
                <% }) %>
        <% } %>
    </ul>
</div>