<div class="container">

    <h1 class="page-header"><%= reminderItem.title %></h1>
    <img src=<%=reminderItem.image_url %> alt=
        <%= reminderItem.title %> style="width:100px; height:100px;">

    <div class="event-details">

            <div class="flex-row">
                <h4>Details:</h4>
                <p><%= reminderItem.description %></p>
            </div>

            <div class="flex-row">
                <h4>Tags:</h4>
                <b><span class="label label-success"><%= reminderItem.tags %></span></b>
            </div>

            <div class="flex-row">
                <h4>Date:</h4>
                <b><%= reminderItem.date %></b>
            </div>

            <div class="flex-row">
            <h4>Importance:</h4>
                <% if (reminderItem.importance === '1') { %>
                    <span class="imp-tag badge badge-secondary">Very Low Importance</span>
                <% } else if (reminderItem.importance === '2') { %>
                    <span class="imp-tag badge badge-success">Low Importance</span>
                <% } else if (reminderItem.importance === '3') { %>
                    <span class="imp-tag badge badge-primary">Moderate Importance</span>
                <% } else if (reminderItem.importance === '4') { %>
                    <span class="imp-tag badge badge-warning">High Importance</span>
                <% } else if (reminderItem.importance === '5') { %>
                    <span class="imp-tag badge badge-danger">Very High Importance</span>
                <% } %>
            </div>
            


            <div class="flex-row">
                <a class="btn btn-warning" href=<%="/reminder/" + reminderItem.id + "/edit" %>>Edit</a>

                <form class="deleteForm " method="POST" action=<%="/reminder/delete/" + reminderItem.id %>>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>

        </div>

</div>