
<!-- <div id="weather"> -->
    <!-- <div id="description"></div>
    <h4 id="temp"></h1>
    <div id="location"></div> -->
<!-- </div> -->

<script onload="pageLoaded();" src="../scripts/weather"></script>

<!-- End of weather API code -->

<div class="container">
    <h1 class="user-name">
        <img src=<%=user.avatar %>>
        <%= user.name %>
    </h1>
    

    <!-- Event Calendar -->

    <div class="calendar-wrapper">
        <div class="calendar-picture">
            <div class="date-location">
                <!-- Only displays date if on current month -->
                <% if ( calendarData.shownDate.month + calendarData.shownDate.year === calendarData.today.month + calendarData.today.year ) { %>
                    <h2><%= calendarData.shownDate.month %> <%= calendarData.shownDate.date %>, <%= calendarData.shownDate.year %></h2>
                    <h4><%= calendarData.today.weekDay %></h4>
                <% } else { %>
                    <h2><%= calendarData.shownDate.month %> <%= calendarData.shownDate.year %></h2>
                <% } %>
                
                <h4 id="location"></h4>
            </div>
            
            <div class="weather">
                <h2 style="display: inline-block;" id="temp"></h2 > <h2 style="display: inline-block;">C</h2>
                <h4 id="description"></h4>
                <a href="/prevMonth" class="btn btn-primary"> PREV MONTH </a>
                <a href="/resetMonth" class="btn btn-primary"> RESET MONTH </a>
                <a href="/nextMonth" class="btn btn-primary"> NEXT MONTH </a>
            </div>
            
        </div>

        <div class="calendar">
            <% for (weekDay of calendarData.weekDays) { %>
                <div class="calendar-day"><%= weekDay %></div>
                <% } %>

            <% let boxCount = 0; for (let i=0; i<calendarData.firstOfMonthDay; i++) { %>
                <div class="calendar-number"></div>
                <% boxCount++ } %>
                
            <% for (let i=1; i<=calendarData.lastOfMonthDate; i++) { 
                let dateString = calendarData.shownDate.realDate.getFullYear() + String(calendarData.shownDate.realDate.getMonth()+1).padStart(2,'0') + String(i).padStart(2,'0') %>
                <% if (i === Number(calendarData.today.date) && (calendarData.shownDate.month + calendarData.shownDate.year) === (calendarData.today.month + calendarData.today.year)) { %>
                <div class="calendar-number current-day">
                    <a href=<%="/reminders/date/" + dateString %>> <%= i %> </a>
                <% } else { %>
                    <div class="calendar-number">
                        <a href=<%="/reminders/date/" + dateString %>> <%= i %> </a>
                <% } %>

                    <div class="events">

                        <%  let remindersOfTheDay = []
                            reminders.forEach(function (reminderItem) {
                                let date = new Date(reminderItem.date) 
                                let dateStrTokens = date.toLocaleString('en-GB', {dateStyle: "full"}).split(' ')
                                if (dateStrTokens[2] + dateStrTokens[1] + dateStrTokens[3] === calendarData.shownDate.month + String(i) + calendarData.shownDate.year) {
                                    let newEvent = { ...reminderItem }
                                    if (newEvent.title.length > 15) {
                                        newEvent.title = newEvent.title.slice(0,12) + '...'
                                    }
                                    remindersOfTheDay.push(newEvent)}}) %>
                        <% if (remindersOfTheDay.length > 2) { %>
                            <div><a href="/reminders/date/<%= dateString %>"><%= remindersOfTheDay.length %> events</a></div>
                            <% } else { 
                                for (reminder of remindersOfTheDay) { %>
                                    <div><a href="/reminder/<%= reminder.id%>"><%= reminder.title %></a></div>
                            <% }} %>

                    </div>

                </div>


            <% boxCount++ } %>
            <% while (boxCount%7 !== 0) { %>
                <div class="calendar-number"></div>
                <% boxCount++ } %>
        </div>
        </div>


    <h1 class="events-header">Events</h1>
    <form action="/reminders/search" method="GET">
        <input type="text" name="search" id="search" placeholder="Search for events" class="search" />
        <button class="search-btn" type="submit">Search</button>
    </form>


    <ul class="list-group">
        <% reminders.forEach(function (reminderItem) { %>
            <li class="list-group-item">
                <img src=<%=reminderItem.image_url %> alt=
                <%= reminderItem.title %> style="width:50px; height:50px;">

                    <strong><%= reminderItem.title %>: </strong>
                    <%= reminderItem.description %>
                        || Date:
                        <%= reminderItem.date %>
                            || Tags: (<%= reminderItem.tags %>) ||
                                <% if (reminderItem.importance === '1') { %>
                                        <span class="badge badge-success">Very Low Importance</span>
                                    <% } else if (reminderItem.importance === '2') { %>
                                        <span class="badge badge-success">Low Importance</span>
                                    <% } else if (reminderItem.importance === '3') { %>
                                        <span class="badge badge-success">Moderate Importance</span>
                                    <% } else if (reminderItem.importance === '4') { %>
                                        <span class="badge badge-danger">High Importance</span>
                                    <% } else if (reminderItem.importance === '5') { %>
                                        <span class="badge badge-danger">Very High Importance</span>
                                    <% } %>
                                            <a class="pull-right" href=<%="/reminder/" + reminderItem.id %>>View</a>
            </li>
            <% }) %>
    </ul>

    
    
    <!-- Friends' reminders -->

    <% if(friendIDs.length > 0){%>
        <br><br>
        <h2 class="page-header">My Friends' Events</h2>
        <% }%>


            <ul class="list-group">

                <% database.forEach((friend)=> { %>
                    <% if (friendIDs.includes(String(friend.id))) {%>
                        <h3 class="page-header">
                            <%=friend.name %>
                        </h3>
                        <% friend.reminders.forEach(reminderItem => { %>
                            <li class="list-group-item">
                                <img src=<%=reminderItem.image_url %> alt=
                                <%= reminderItem.title %> style="width:50px; height:50px;">

                                    <strong><%= reminderItem.title %>: </strong>
                                    <%= reminderItem.description %>
                                        || Date:
                                        <%= reminderItem.date %>
                                            || Tags: (<%= reminderItem.tags %>) || Importance:
                                                <% if (reminderItem.importance == true) { %>
                                                    <span class="badge badge-success">Low</span>
                                                    <% } else if (reminderItem.importance == false) { %>
                                                        <span class="badge badge-danger">Important</span>
                                                        <% } %>
                            </li>


                            <% });%>
                                <% }; %>
                                    <% }) %>
            </ul>


</div>