<div class="container">
    <h1 class="page-header">Events</h1>

    <ul class="list-group">
        <li class="list-group-item">
            <h3><strong><%= reminderItem.title %>: </strong></h3>
            <img src=<%=reminderItem.image_url %> alt=
            <%= reminderItem.title %> style="width:100px; height:100px;">

                <div>
                    <h4>Event Details:</h4>
                    <b><%= reminderItem.description %></b>
                </div>
				<br>
                <div>
                    <h4>Event Tags:</h4>
                    <b><span class="label label-success"><%= reminderItem.tags %></span></b>
                </div>
				<br>
                <div>
                    <h4>Event Date:</h4>
                    <b><%= reminderItem.date %></b>
                </div>
				<br>
                <h4>
                    <p>Importance:</p>
                    <% if (reminderItem.importance == true) { %>
                        <span class="badge badge-success">Low</span>
                        <% } else if (reminderItem.importance == false) { %>
                            <span class="badge badge-danger">Important</span>
                            <% } %>
                </h4>
				<br>
                


                <a class="btn btn-warning" href=<%="/reminder/" + reminderItem.id + "/edit" %>>Edit</a>

                <form class="deleteForm " method="POST" action=<%="/reminder/delete/" + reminderItem.id %>>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>

        </li>
    </ul>

</div>