<div class="container">
    <h1 class="page-header">Events</h1>

    <ul class="list-group">
        <li class="list-group-item">
            <h3><strong><%= reminderItem.title %>: </strong></h3>
            <img src=<%=reminderItem.image_url %> alt=
            <%= reminderItem.title %> style="width:100px; height:100px;">

                <h4>
                    <p>Event Details:</p>
                    <%= reminderItem.description %>
                </h4>
                <h4>
                    <p>Event Tags:</p>
                    <span class="label label-success"><%= reminderItem.tags %></span>
                </h4>
                <h4>
                    <p>Event Date:</p>
                    <%= reminderItem.date %>
                </h4>
                <h4>
                    <p>Importance:</p>
                    <% if (reminderItem.completed == true) { %>
                        <span class="badge badge-success">Low</span>
                        <% } else if (reminderItem.completed == false) { %>
                            <span class="badge badge-danger">Important</span>
                            <% } %>
                </h4>
                <h4>Minievents:
                    <ul>
                        <% for(let i = 0; i < reminderItem.subtasks.length; i++) {%>
                            <% if (!(reminderItem.subtasks[i] === "")) {%>
                                <li>
                                    <%= reminderItem.subtasks[i] %>
                                </li>
                                <%   }%>
                                    <% } %>
                    </ul>
                </h4>


                <a class="btn btn-warning" href=<%="/reminder/" + reminderItem.id + "/edit" %>>Edit</a>

                <form class="deleteForm " method="POST" action=<%="/reminder/delete/" + reminderItem.id %>>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>

        </li>
    </ul>

</div>