<!-- <% let event = JSON.stringify(eventItem) %> -->
<div class="container">
  <h1 class="page-header">Edit Event</h1>
  <form action=<%= "/event/update/" + eventItem.id %> method="POST">

    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" name="title" class="form-control" id="titleInput" placeholder="Enter title" value="<%= eventItem.title %>" maxlength="100">
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" id="descriptionInput" rows="3" placeholder="Enter description" name="description" maxlength="10000"><%= eventItem.description %></textarea>
    </div>
<!--
    <div class="form-group">
      <label for="subtasks">Subtasks</label>
      <textarea style="white-space: pre-line" class="form-control" id="subtasksInput" rows="3" placeholder="Enter subtasks, separated by a comma" name="subtasks"><%= eventItem.subtasks %></textarea>
    </div>
-->

    <div class="form-group">
      <label for="tags">Tags</label>
      <textarea class="form-control" id="tagsInput" rows="3" placeholder="Enter tags, separated by a comma" name="tags"><%= eventItem.tags %></textarea>
    </div>

    <div class="form-group">
      <label for="date">Date</label>
      <input type="datetime-local" id="dateInput" name="date" name="date" placeholder="MM/DD/YYYY">
    </div>

    <div class="form-group">
      <label for="importance">Importance</label>
      <div class="radio">
        <input type="radio" id="imp-1" value="1" name="importance">
        <label for="imp-1">Very Low Importance</label>
      </div>
      <div class="radio">
        <input type="radio" id="imp-2" value="2" name="importance">
        <label for="imp-2">Low Importance</label>
      </div>
      <div class="radio">
        <input type="radio" id="imp-3" value="3" name="importance">
        <label for="imp-3">Moderate Importance</label>
      </div>
      <div class="radio">
        <input type="radio" id="imp-4" value="4" name="importance">
        <label for="imp-4">High Importance</label>
      </div>
      <div class="radio">
        <input type="radio" id="imp-5" value="5" name="importance">
        <label for="imp-5">Very High Importance</label>
      </div>
    </div>
    <!-- <div class="form-group">
      <label for="importance">Importance</label>
      <div class="radio">
        <label>
          <% if (eventItem.importance === true) { %>
            <input type="radio" name="importance" id="true" value="true" checked="checked">
          <% } else { %>
            <input type="radio" name="importance" id="true" value="true">
          <% } %>
          Low
        </label>
      </div>
      <div class="radio">
        <label>
          <% if (eventItem.importance === false) { %>
            <input type="radio" name="importance" id="false" value="false" checked="checked">
          <% } else { %>
            <input type="radio" name="importance" id="false" value="false">
          <% } %>
          High
        </label>
      </div>
    </div> -->


    <button type="submit" class="btn btn-outline-primary">Submit</button>
    <a href="/events" class="btn btn-outline-primary">Cancel</a>
  </form>
</div>

<script>
  let eventStr = '<%- JSON.stringify(eventItem) %>'
  let event = JSON.parse(eventStr)
  let titleInput = document.querySelector("#titleInput")
  titleInput.value = event.title
  let descriptionInput = document.querySelector("#descriptionInput")
  descriptionInput.textContent = event.description
  let dateInput = document.querySelector("#dateInput")

  let dateString = event.date
  let dateStringFormatted = ""

  let eventDate = new Date(dateString)

  if (navigator.userAgent.includes("Chrome")) {
    let eventDateYear = eventDate.getFullYear()
    let eventDateMonth = String(eventDate.getMonth() + 1).padStart(2, "0")
    let eventDateDay = String(eventDate.getDate()).padStart(2, "0")
    let eventDateHour = String(eventDate.getHours()).padStart(2, "0")
    let eventDateMinute = String(eventDate.getMinutes()).padStart(2, "0")
    dateStringFormatted = `${eventDateYear}-${eventDateMonth}-${eventDateDay}T${eventDateHour}:${eventDateMinute}`
  } else if (navigator.userAgent.includes("Firefox")) {
    dateStringFormatted = dateString
  }
  console.log(dateStringFormatted)
  dateInput.value = dateStringFormatted
  // console.log(dateString)

  let importanceRadio = ''
  switch (event.importance) {
    case '1':
      importanceRadio = document.querySelector('#imp-1')
      break
    case '2':
      importanceRadio = document.querySelector('#imp-2')
      break
    case '3':
      importanceRadio = document.querySelector('#imp-3')
      break
    case '4':
      importanceRadio = document.querySelector('#imp-4')
      break
    case '5':
      importanceRadio = document.querySelector('#imp-5')
      break
  }
  importanceRadio.checked = 'checked'
  
</script>
